{% extends "syncBoat/base.html" %}
{% load static %}
{% load listutil %}
{% block content %}
<style>

{% if topOfTheQueue %}
	
	body {
	background-image: url("{% static 'perseus/images/ready.svg'%}");
	background-size: 200px;
	background-repeat: repeat;
	animation: colorchange 1s infinite; /* animation-name followed by duration in seconds*/
	/* you could also use milliseconds (ms) or something like 2.5s */
	-webkit-animation: colorchange 1s infinite; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background-color: rgba(255,0,0,0);}
      50%  {background-color: rgba(255,0,0,0.2);}
      100% {background-color: rgba(255,0,0,0);}
    }

    @-webkit-keyframes colorchange
    {
      0%   {background-color: rgba(255,0,0,0);}
      50%  {background-color: rgba(255,0,0,0.2);}
      100% {background-color: rgba(255,0,0,0);}
    }
{% endif %}

{% if syncing %}
	
	body {
	/*background-image: url("{% static 'perseus/images/ready.svg'%}");*/
	background-size: 200px;
	background-repeat: repeat;
	animation: colorchange 1s infinite; /* animation-name followed by duration in seconds*/
	/* you could also use milliseconds (ms) or something like 2.5s */
	-webkit-animation: colorchange 1s infinite; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background-color: rgba(0,0,255,0);}
      50%  {background-color: rgba(0,0,255,0.2);}
      100% {background-color: rgba(0,0,255,0);}
    }

    @-webkit-keyframes colorchange
    {
      0%   {background-color: rgba(0,0,255,0);}
      50%  {background-color: rgba(0,0,255,0.2);}
      100% {background-color: rgba(0,0,255,0);}
    }
{% endif %}


/*topOfTheQueue*/
#changeA, #changeB{
	margin-top: 2em;
	cursor: pointer;
	font-size: 3em;
	color: White;
	font-weight: bold;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
}
.floating-sidebar{
	background-color: white;
	position: fixed;
	bottom: 0em;
	left: 0em;
	padding: 1em;
	
}
.floatingright-sidebar{
	background-color: white;
	position: fixed;
	bottom: 0em;
	right: 0em;
	padding: 1em;
	
}
.selected{
	opacity: 0.5;
}
i.syncing{
	color: Red;
}

.wait:hover {
  cursor: wait !important; /* Changes cursor to a "wheel" icon on hover */
}
.center-container {
        display: flex; /* Enables Flexbox layout */
        justify-content: center; /* Centers content horizontally */
        align-items: center; /* Centers content vertically */
        min-height: 100vh; /* Ensures the container takes up the full viewport height */
        width: 100%; /* Ensures the container takes up the full viewport width */
        font-size: 32px;
        font-weight: bold;
    }
</style>


<div class="center-container">
        <a id="" href="https://labs.cox.com.au/syncboat/2/">CLICK TO REDIRECT TO OFFICIAL SYNC BOAT</a>
    </div>



{% endblock content %}
