<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProjectPerseus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectPerseus.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>projectperseus.lladdy.com</value>
            </setting>
            <setting name="ApiToken" serializeAs="String">
                <value>981f2067084e45a73f95783db7ad9bcddd967326</value>
            </setting>
            <setting name="FullSyncNextSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSyncVersionGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </ProjectPerseus.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>