container_commands:
  00_collectstatic:
    command: "python manage.py collectstatic --noinput"
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: projectperseus.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_ENVIRONMENT: PRODUCTION
    SECRET_KEY: 6bog))5yy=nv^u4_x+y9a+^edpwlm)s8wf@bp61*cm6#i(t^!9
    DJANGO_ALLOWED_HOSTS: localhost 127.0.0.1 projectperseus.lladdy.com
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static