container_commands:
  00_collectstatic:
    command: "python manage.py collectstatic --noinput"
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: projectperseus.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_ENVIRONMENT: PRODUCTION
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static